/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT	0
#define NMBRS	1
#define SIGNS	2
#define MEDIA	3
#define CUSTOM  4
#define BT_CTRL	5
/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
//	|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
//  |				|				|				|				|				|				||				|				|				|				|				|				|
		&kp ESC 		&kp Q			&kp W			&kp E     		&kp R 			&kp T			&kp Y			&kp U			&kp I			&kp O			&kp P			&kp BSPC
//  |				|				|				|				|				|				||				|				|				|				|				|				|
		&kp TAB  		&kp A			&kp S			&kp D     		&kp F			&kp G			&kp H			&kp J			&kp K			&kp L			&kp SEMI		&kp SQT
//  |				|				|				|				|				|				||				|				|				|				|				|				|
		&kp LSHFT 		&kp Z			&kp X			&kp C     		&kp V			&kp B			&kp N			&kp M			&kp COMMA		&kp DOT			&kp FSLH		&kp ENTER
//  |				|				|				|				|				|				||				|				|				|				|				|				|
		&mo MEDIA 		&kp DEL			&kp LGUI		&kp LALT  		 &kp SPACE		&kp LCTRL		&kp BSPC		&kp SPACE	 	&kp RIGHT		&kp K_CMENU		&mo CUSTOM		&mo BT_CTRL
//	|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
            >;
        };

        numbers {
            bindings = <
//	|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
//  |				|				|				|				|				|				||				|				|				|				|				|				|
		&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans
//  |				|				|				|				|				|				||				|				|				|				|				|				|
		&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans
//  |				|				|				|				|				|				||				|				|				|				|				|				|
		&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans
//  |				|				|				|				|				|				||				|				|				|				|				|				|
		&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans
//	|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
            >;
        };
		
        signs {
            bindings = <
//	|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
//  |				|				|				|				|				|				||				|				|				|				|				|				|
		&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans
//  |				|				|				|				|				|				||				|				|				|				|				|				|
		&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans
//  |				|				|				|				|				|				||				|				|				|				|				|				|
		&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans
//  |				|				|				|				|				|				||				|				|				|				|				|				|
		&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans
//	|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
            >;
        };
	
        media {
            bindings = <
//	|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
//  |				|				|				|				|				|				||				|				|				|				|				|				|
		&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans
//  |				|				|				|				|				|				||				|				|				|				|				|				|
		&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans
//  |				|				|				|				|				|				||				|				|				|				|				|				|
		&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans
//  |				|				|				|				|				|				||				|				|				|				|				|				|
		&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans
//	|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
            >;
        };
		
        custom {
            bindings = <
//	|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
//  |				|				|				|				|				|				||				|				|				|				|				|				|
		&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans
//  |				|				|				|				|				|				||				|				|				|				|				|				|
		&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans
//  |				|				|				|				|				|				||				|				|				|				|				|				|
		&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans
//  |				|				|				|				|				|				||				|				|				|				|				|				|
		&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans
//	|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
            >;
        };

        bt_control {
            bindings = <
//	|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
//  |				|				|				|				|				|				||				|				|				|				|				|				|
		&bt BT_CLR		&bt BT_SEL 0	&bt BT_SEL 1	&bt BT_SEL 2	&bt BT_SEL 3	&bt BT_SEL 4	&trans			&trans			&trans			&trans			&trans			&trans
//  |				|				|				|				|				|				||				|				|				|				|				|				|
		&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans
//  |				|				|				|				|				|				||				|				|				|				|				|				|
		&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans			&trans
//  |				|				|				|				|				|				||				|				|				|				|				|				|
		&trans			&trans			&trans			&trans			&trans			&trans			 &trans			&trans			&bt BT_PRV		&bt BT_NXT		&trans			&trans
//	|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
            >;
        };
    };
};